@import "tailwindcss";

@theme {
  --font-cunia: var(--font-cunia);
  --color-primary: #3a2d28;
  --color-secondary: #a48374;
  --color-background: #f1ede6;
}

@layer utilities {
  button {
    @apply cursor-pointer;
  }
  .container {
    @apply px-4 sm:px-8 md:px-12 lg:px-16 mx-auto max-w-7xl;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-cunia);
    @apply font-bold leading-[1.1];
  }
  p {
    @apply leading-relaxed;
  }
  button {
    @apply font-cunia;
  }
  .btn-primary {
    @apply bg-secondary px-6 py-2.5 rounded-lg text-white font-medium hover:bg-primary focus:bg-primary transition-colors;
  }
  .section-title {
    @apply text-2xl lg:text-4xl font-bold;
  }
}
